/*Resting method */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*Resting method */
body {
    overflow: scroll;
}

main,
header {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    padding: 27px 5%;
}

header {
    justify-content: left;
}

input {
    border: none;
    font-size: 24px;
    padding: 15px 30px;
    width: 500px;
    border-bottom: 3px solid rgb(44, 90, 44);
    color: rgb(44, 90, 44)
}

input::placeholder {
    color: rgb(44, 90, 44)
}

header {
    gap: 0;
}

header svg {
    width: 27px;
    padding-right: 20px;
    padding-left: 20px;
    border: none;
    background: white;
    border-bottom: 3px solid rgb(44, 90, 44);
    fill: rgb(44, 90, 44)
}

.pop {
    display: none;
}

.cards:hover .pop {
    display: block;
}

/* .pop {
    display: none;
} */



@media (max-width:800px) {
    input {
        width: 180px;
    }
}